fastapi~=0.115.4
uvicorn
sqlalchemy~=2.0.38
psycopg2-binary
python-dotenv~=1.0.1
openai~=1.54.3
oci-cli~=3.54.2
pydantic~=2.9.2
dotenv~=0.9.9
db~=0.1.1

# Compatible LangChain stack
langchain==0.1.16
langchain-core==0.1.43
langchain-openai==0.0.8
langchain-community==0.0.32
redis~=5.0.1
