fastapi~=0.115.4
uvicorn
sqlalchemy~=2.0.38
psycopg2-binary
python-dotenv~=1.0.1
langchain~=0.3.19
openai~=1.54.3
langchain-experimental
langchain-openai~=0.1.25
oci-cli~=3.54.2
pydantic~=2.9.2
dotenv~=0.9.9
db~=0.1.1
langchain-community~=0.3.18